name: Create docker image with make

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: init go
      run: go mod init barcodeserver.go && go mod tidy

    - name: Make binaries
      run: make barcodeserver-amd64

    - name: Make docker
      run: make docker
      
    - name: Docker Login
      # You may pin to the exact commit or the version.
      # uses: docker/login-action@343f7c4344506bcbf9b4de18042ae17996df046d
      uses: docker/login-action@v3.0.0
      with:
        # Server address of Docker registry. If not set then will default to Docker Hub
        #registry: # optional
        # Username used to log against the Docker registry
        username: erxbout
        # Password or personal access token used to log against the Docker registry
        password: ${{ secrets.DOCKERACCESSTOKEN }}
      
